<div class="container main">
 <!-- general logo--><img class="logo" src="/assets/logo-placeholder.png">
 <div class="filters">

   <p style="display: inline-block;font-size:25px;margin-top: 10px;"> Sort by:</p>
    <div  style="display: inline-block; height:100%;text-align: center;margin-left:10px;margin-top:15px;">
<p style="display: inline-block;"> Premium:</p>
<img id="up"  style="  height:13px;;width:17px; position:relative; left:0px;display:none;" src="/assets/up.png" (click)="sortPremium()">
<img id="down"  style="  height:13px;;width:17px; position:relative; left:0px;display:none;" src="/assets/down.png" (click)="sortPremium()">
<img id="net"  style="  height:13px;;width:17px; position:relative; left:0px;display:inline-block;" src="/assets/net.png" (click)="sortPremium()">
  </div>

  <div  style="display: inline-block; height:100%;text-align: center;margin-left:10px;margin-top:15px;">
<p style="display: inline-block;"> Area:</p>
<img id="upc"  style="  height:13px;;width:17px; position:relative; left:0px;display:none;" src="/assets/up.png" (click)="sortCity()">
<img id="downc"  style="  height:13px;;width:17px; position:relative; left:0px;display:none;" src="/assets/down.png" (click)="sortCity()">
<img id="netc"  style="  height:13px;;width:17px; position:relative; left:0px;display:inline-block;" src="/assets/net.png" (click)="sortCity()">
</div>



  </div>
 <ul>
   <li *ngFor="let item of  arrayOne( 4  ); let i = index">
     <div class="card" (click)="setFocused(i+ 4*currPage)">
       <div class="container">
         <h4 class="itemTitle"><b>{{  items[i+ 4*currPage ].Customer_Name }}</b></h4>
         <p class="policyType">Policy type: {{ items[i+ 4*currPage].policy_type }}</p>
         <p class="insurer">Insurer: {{ items[i+ 4*currPage].Insurer_Name }}</p>
         <p class="premium"> Premium: £{{ items[i+ 4*currPage].premium }}</p>
         <p class="itemAddressCity">City: {{ items[i+ 4*currPage].customer_address_city }}</p>
         <p class="itemAddressStreet">Street: {{ items[i+ 4*currPage].customer_address_street }}</p>
       </div>
     </div>
   </li>
 </ul>
 <!-- list display-->

 <div class="pagebar">
   <img style="display: inline-block; height:100%;width:17px;" src="/assets/left.png" (click)="changepage(1)">
   <img style="display: inline-block; height:100%;width:17px;margin-left:20px;" src="/assets/right.png" (click)="changepage(2)">
 </div>

 <p style="position:absolute;left:28%;top:82%;">Page: {{ currPage}}</p>
 <!-- main display-->
 <div class="mainDisplay" id="Display">
   <h4 class="itemTitleFocused"><b>{{  items[currFocus].Customer_Name }}</b></h4>
   <p class="policyTypeFocusedheader">Policy type:</p>
   <p class="policyTypeFocused">{{ items[currFocus].policy_type }}</p>
   <p class="insurerFocusedheader">Insurer: </p>
   <p class="insurerFocused"> {{ items[currFocus].Insurer_Name }}</p>
   <p class="premiumFocusedheader"> Premium: </p>
   <p class="premiumFocused"> £{{ items[currFocus].premium }}</p>
   <p class="itemAddressheader">Address</p>
   <p class="itemAddressCityFocused"> {{ items[currFocus].customer_address_city }}</p>
   <p class="itemAddressStreetFocused"> {{ items[currFocus].customer_address_street }}</p>
   <div class="editButton" ng-hide="!isEdit" (click)="alternateBetweenEditAndDisplay()">
     <p style="color:white;margin-top:8px; text-align: center;">Edit</p>
   </div>
 </div>
 <!-- main display end-->
 <!-- main edit -->
 <div class="editItem" id="EditItem">
   <div>
     <p class="policyTypeFocusedheader" style="display: inline-block;">Customer Name:</p>
     <input matInput placeholder="{{  items[currFocus].Customer_Name }}" value="{{  items[currFocus].Customer_Name }}" [(ngModel)]="CustomerName" style="display: inline-block;background-color: grey; border-radius:9px;"> </div>
   <div>
     <p class="policyTypeFocusedheader" style="display: inline-block;">Policy type:</p>
     <input matInput placeholder="{{  items[currFocus].policy_type }}" value="{{  items[currFocus].policy_type }}" [(ngModel)]="Policytype" style="display: inline-block;background-color: grey; border-radius:9px;"> </div>
   <div>
     <p class="insurerFocusedheader" style="display: inline-block;">Insurer: </p>
     <input matInput placeholder="{{  items[currFocus].Insurer_Name }}" value="{{  items[currFocus].Insurer_Name }}" [(ngModel)]="Insurer" style="display: inline-block;background-color: grey; border-radius:9px;"> </div>
   <div>
     <p class="premiumFocusedheader" style="display: inline-block;"> Premium: </p>
     <input matInput placeholder="£{{  items[currFocus].premium }}" value="{{  items[currFocus].premium }}" [(ngModel)]="Premium" style="display: inline-block;background-color: grey; border-radius:9px;"> </div>
   <div>
     <p class="itemAddressheader" style="display: inline-block;">Street</p>
     <input matInput placeholder="{{  items[currFocus].customer_address_street }}" value="{{  items[currFocus].customer_address_street }}" [(ngModel)]="Street" style="display: inline-block;background-color: grey; border-radius:9px;"> </div>
   <div>
     <p class="itemAddressheader" style="display: inline-block;">City</p>
     <input matInput placeholder="{{  items[currFocus].customer_address_city }}" value="{{  items[currFocus].customer_address_city }}" [(ngModel)]="City" style="display: inline-block;background-color: grey; border-radius:9px;"> </div>


   <div class="backButton" ng-hide="!isEdit" (click)="alternateBetweenEditAndDisplay()">
     <p style="color:white;margin-top:8px; text-align: center;">Back</p>
   </div>

   <div class="saveButton" ng-hide="!isEdit" (click)="Save()">
     <p style="color:white;margin-top:8px; text-align: center;">Save</p>
   </div>
 </div>
 <!-- main edit end-->
 <div class="addButton" (click)="AddItem()">
   <p style="color:white;margin-top:12px; text-align: center;font-size:20px;">Add New</p>

 </div>
 <!-- main AddItem -->
 <div class="addItem" id="AddItem" >





   <p class="policyTypeFocusedheader" style="">New Customer:</p>
   <input matInput placeholder="Customer Name "            value="Customer Name"           [(ngModel)]="NewCustomer.Customer_Name" style="display: inline-block;background-color: lightgrey; border-radius:9px; margin-left:20px;margin:2px;">
   <input matInput placeholder="Customer  street address " value="Customer street address" [(ngModel)]="NewCustomer.Customer_street_address" style="display: inline-block;background-color: lightgrey; border-radius:9px;margin:2px;">
   <input matInput placeholder="Customer city "            value="Customer city"           [(ngModel)]="NewCustomer.Customer_city" style="display: inline-block;background-color: lightgrey; border-radius:9px; margin-left:20px;margin:2px;">

   <div class="basicbutton"  (click)="SaveCustomer()">
     <p style="color:white;padding-top:10px; text-align: center;">Save Customer</p>
   </div>


   <p class="policyTypeFocusedheader" style="">New Policy</p>
   <input matInput placeholder="Customer Name" value="" [(ngModel)]="NewPolicy.Customer_Customer_Name"  style="display: inline-block;background-color: lightgrey; border-radius:9px; margin-left:20px;margin:2px;">
   <input matInput placeholder="premium"       value="" [(ngModel)]="NewPolicy.premium"                 style="display: inline-block;background-color: lightgrey; border-radius:9px;margin:2px;">
   <input matInput placeholder="Insurer_Name"  value="" [(ngModel)]="NewPolicy.Insurer_Insurer_Name"    style="display: inline-block;background-color: lightgrey; border-radius:9px; margin-left:20px;margin:2px;">
   <input matInput placeholder="policy_type"   value="" [(ngModel)]="NewPolicy.policy_type_policy_type" style="display: inline-block;background-color: lightgrey; border-radius:9px;margin:2px;">

   <div class="basicbutton"   (click)="SavePolicy()">
     <p style="color:white;padding-top:10px; text-align: center;">Save Policy</p>
   </div>

   <p class="policyTypeFocusedheader" style="">New Policy Type</p>
   <input matInput placeholder=" " value=" " [(ngModel)]="newPolicy_type" style="display: inline-block;background-color: lightgrey; border-radius:9px; margin-left:20px;margin:2px;">

   <div class="basicbutton"   (click)="SavePolicyType()">
     <p style="color:white;padding-top:10px; text-align: center;">Save Policy Type</p>
   </div>

   <p class="policyTypeFocusedheader" style="">New Insurer</p>
   <input matInput placeholder=" " value=" " [(ngModel)]="newInsurer" style="display: inline-block;background-color: lightgrey; border-radius:9px; margin-left:20px;margin:2px;">

   <div class="basicbutton"   (click)="SaveInsurer()" style=" ">
     <p style="color:white;padding-top:10px; text-align: center; ">Save Insurer</p>
   </div>


 </div>
 <!-- main AddItem end-->
</div>
